# Import data from fastq file #

In [1]:
import numpy as np
from Bio import SeqIO

In [20]:
records_data = list(SeqIO.parse("ont.exp2.fastq", "fastq"))

## convert data in records_data (letter_annotations) from string array to int ##

In [11]:
def convert_letter_string_to_int(data_before):
    list_data_result = []
    received_data = str(data_before)
    split_rount_1 = received_data.split('[')
    split_rount_2 = split_rount_1[1].split(']')
    split_rount_3 = split_rount_2[0].split(',')
    for conv_buffer in split_rount_3:
        list_data_result.append(int(conv_buffer))
    return list_data_result

## change to numpy format and find max, min and mean ##

In [12]:
def conv_data_to_np_arrays(datas):
    result = np.array(datas)
    return result

## Create class ##

In [13]:
class Data_Class:
    def __init__(self, id, QScore_len, QScore_max, QScore_avg, QScore_min):
        self.id = id
        self.Qscore_len = QScore_len
        self.Qscore_max = QScore_max
        self.Qscore_avg = QScore_avg
        self.Qscore_min = QScore_min
    def __str__(self):
        result = str(self.id)+ " / " + str(self.Qscore_len)+ " / " + str(self.Qscore_max)+" / " + str(self.Qscore_avg)+" / " + str(self.Qscore_min)
        return result

## Create object ##

In [14]:
records_data_list_id = []
records_data_list_len = []
records_data_list_max = []
records_data_list_avg = []
records_data_list_min = []
for records_data_buffer in records_data:
    result_data_conv = convert_letter_string_to_int(records_data_buffer.letter_annotations)
    arr_np_result = conv_data_to_np_arrays(result_data_conv)
    records_data_list_id.append(str(records_data_buffer.id))
    records_data_list_len.append(len(result_data_conv))
    records_data_list_max.append(np.max(arr_np_result))
    records_data_list_avg.append(np.mean(arr_np_result))
    records_data_list_min.append(np.min(arr_np_result))

## Create dataframe ##

In [15]:
import pandas as pd
records_df = pd.DataFrame({"id":records_data_list_id, "length":records_data_list_len , "max": records_data_list_max,
                                    "average": records_data_list_avg, "min": records_data_list_min})
print(records_df)

        id  length  max    average  min
0   test01    5658   52  20.430364    1
1   test02    2158   63  20.809546    1
2   test03    3941   50  19.459528    1
3   test04    2828   50  18.690240    1
4   test05    1292   45  18.506192    1
5   test06     548   47  19.312044    1
6   test07     708   43  20.093220    1
7   test08    3653   49  16.831645    1
8   test09    5060   49  15.296640    1
9   test10    1083   46  18.704524    1
10  test11       5   30  19.400000    3
11  test12      19   32  17.052632    4

## Example for filtering data in dataframe ##

In [16]:
filter_df = records_df[(50 >= records_df['max']) & (30 <= records_df['max'])]

In [17]:
filter_df

        id  length  max    average  min
2   test03    3941   50  19.459528    1
3   test04    2828   50  18.690240    1
4   test05    1292   45  18.506192    1
5   test06     548   47  19.312044    1
6   test07     708   43  20.093220    1
7   test08    3653   49  16.831645    1
8   test09    5060   49  15.296640    1
9   test10    1083   46  18.704524    1
10  test11       5   30  19.400000    3
11  test12      19   32  17.052632    4